<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Honeypot Monitor</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link href="icon.png" type="image/x-icon" rel="shortcut icon" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">Android Honeypot Monitor</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Logs recientes</a></li>
							<li>
								<a href="#">Logs por servicio</a>
								<ul>
									<li><a href="/telnet">Telnet</a></li>
									<li><a href="/ftp">FTP</a></li>
									<li>
										<a href="/http">HTTP</a>
										<ul>
											<li><a href="/uploads">Archivos subidos</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="/expulsados">Expulsados</a></li>
							<li><a href="/buscar" class="button special">Buscar</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Página no encontrada</h2>
							<p><a href="/">Volver a la página principal</a></p>
						</header>

								<!-- Table -->
							<section>
				
							</section>
					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://github.com/danimrey/TFG-Android_Honeypot" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="mailto:daniel.moreno.rey@alumnos.upm.es" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>TFG - Daniel Moreno Rey</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>